
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'nprogress/nprogress.css';

/* Optional: Customize the bar’s color and height */
#nprogress .bar {
  background: #07B0F1; /* Matches your primary color from tailwind.config.ts */
  height: 3px; /* Slightly thicker for visibility */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --radius: 0.5rem;
    --background: #ffffff; /* Light mode background */
    --foreground: #000000; /* Light mode foreground */
    color-scheme: light dark;
    
  }
}
html, body {
  font-family: 'Poppins', sans-serif;
}
@media (min-width: 1024px) {
  .desktop-menu {
    display: flex !important;
  }
}


.services-section, .services-page {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps background fixed */
}
.services-section, .top-section-bg {
 
  background-image: url('/images/services-bg.jpg');  
 
}
/* Define a background image class */
.top-section-bg {
  /* background-image: url('/images/services-bg.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.services-overlay, .services-overlay-page {
  position: absolute;
  inset: 0;
   
}
.services-overlay {
 
  background-color: rgba(0, 0, 0, 0.85);  
}





 

   